@font-face {
  font-family: 'Raleway';
  src: url(./Raleway-Regular.ttf) format('woff2'),
  url(./Raleway-Regular.woff) format('woff'),
  url(./raleway/Raleway-Regular.woff2) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway_Bold';
  src: url(./Raleway-Bold.ttf) format('woff2'),
  url(./Raleway-Bold.woff) format('woff'),
  url(./Raleway-Bold.woff2) format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway_Medium';
  src: url(./Raleway-Medium.ttf) format('woff2'),
  url(./Raleway-Medium.woff) format('woff'),
  url(./Raleway-Medium.woff2) format('truetype');
  font-weight: 500;
  font-display: swap;
}