*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  width: 1100px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  min-height: 180px;
  margin: auto;
  color: #000000;
  background-color: #FFFFFF;
}

