.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    color: #000000;
    background-color: #FFFFFF;
  }

/* HEADER */
.header {
    width: 1100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.menu {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 133px 0 138px 50px;
}

.menu_list {
    display: flex;
    gap: 31px;
    margin: 0;
    padding: 0;
}

.menu_item {
    list-style: circle;
}

.menu_item_no-marker {
    list-style: none;
}

.menu_link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    color: inherit;
    text-transform: lowercase;
}

.menu_item_active .menu_link {
    text-decoration: none;
}


.header_logo {
    margin-left: 36.52px;
    margin-right: 184px;
    margin-top: 92px;
    align-items: flex-start;
}

.header_contacts {
    margin-top: 95px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.header_logo-image {
    width: 148px;
    height: 105px;
}

.contacts {
    font-style: normal;
    width: 240px;
    text-align: left;
}

.contacts-list {
    list-style: none;
    padding: 0;
}

.contacts-link {
    color: #000000;
    font-size: 18px;
    line-height: 1.35;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.contacts-noline {
    text-decoration: none;
}


/* MAIN */

/* COVER */
.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 165px 50px 50px;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover_title {
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cover_title-line {
    display: block;
}

.cover_title-line_left {
    align-self: flex-start;
}

.cover_title-line_center {
    align-self: center;
    margin-right: -0.3em; 
}

.cover_title-line_right {
    align-self: flex-end;
    margin-right: -0.3em; 
    text-align: right; 
}

.cover_description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover_subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 0.9em;
    letter-spacing: normal;
    color: #FFFFFF;
    max-width: 700px;
}

.cover_button {
    width: 256px;
    height: 51px;
    border: 1px solid #FFFFFF;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0;
}

/* LOTS */
.lot-cards {
    width: 1052px;
    margin-top: 180px;
}

.lots_heading {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0%;
    margin-bottom: 27px;
    margin-left: 40px;
}

.lots_card-list {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
    justify-content: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    width: 334px;
    min-height: 596px;
    color: white;
    text-decoration: none;
}

.card_lots {
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_content {
    position: relative;
    z-index: 2;
    padding: 48px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
}

.card_title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.2;
    color: rgba(255, 255, 255, 1);
    width: 254px;
    margin: 0; 
}

.card_text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    width: 254px;
    margin: 0;
}

.lots_look-more-link {
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}


/* ABOUT */

.about {
    width: 1052px;
    margin: 120px auto 0;
    padding: 0 24px;
    display: flex;
    gap: 72px;
}


.about_column-logo {
    width: 240px;
    display: flex;
    justify-content: center;
    margin-left: 20px; 
}

.about_logo {
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}


.about_column-text {
    width: 693px;
}

.about_title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 133px 0 100px;
}

.about_text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.about_text p {
    margin: 0;
}

.about_text p + p {
    margin-top: 30px;
}


/* FOOTER */

.footer {
    width: 1100px;
    margin: 180px auto 0;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24.3px;
    align-items: flex-start;
}

.footer_contacts {
    width: 264.57px;
    margin-top: 0;
    font-style: normal;
}

.footer_menu {
    text-align: center;
}

.footer_menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_menu-item {
    margin-bottom: 0;
}

.footer_menu-link {
    color: #000000;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.footer_menu-item_active .footer_menu-link {
    text-decoration: none;
}


.footer_social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 48px;
}

.footer_social-list-item {
    width: 48px;
    height: 48px;
}

.footer_social-link {
    display: flex;
    width: 48px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.footer_social-icon {
    max-width: 30px;
    max-height: 30px;
}

