/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 293px;
}

.header_menu {
    width: 391.48px; 
    height: 22px;
}

.header_menu-list {
    display: flex;
    list-style: none;
    margin-top: 133px;
    margin-bottom: 133px;
    margin-left: 50px;
}


.header_logo {
    display: block;
    margin-top: 92px;
    margin-bottom: 96px;
    margin-right: 184px;
    margin-left: 36.52px;
}

.header_logo-image {
    width: 148px;
    height: 105px;
}

.header_contacts {
    font-style: normal;
    width: 240px;
    text-align: left;
    margin-top: 95px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.header_contacts-list {
    list-style: none;
    padding: 0;
}

.header_contacts-link {
    color: #000000;
    font-size: 18px;
    line-height: 1.35;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header_contacts-noline {
    text-decoration: none;
}

/* MAIN */

/* обложка */
.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 757px;
    padding: 165px 50px 207px 50px;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.overlay {
    background-color: rgba(0, 0, 0, 1);
}

.cover_title {
    position: relative;
    z-index: 2;
    font-family: 'Raleway_Bold';
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 30%;

}

.accent-span {
    display: block;
    letter-spacing: 0.3em;
}

.text-center {
    text-align: center;
    margin: 21px 0;
}

.text-right {
    text-align: right;
}

.cover_description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;

}

.cover_description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway';
}

.bet-button {
    padding: 12px 32px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Raleway_Medium';
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bet-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* карточки */
.lot-cards {
    padding: 0px 24px;
    margin-top: 180px;
}

.lots_heading {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Raleway_Bold';
    font-weight: 700;
    letter-spacing: 0%;
    margin-bottom: 27px;
    margin-left: 40px;
}

.lots_card-list {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
    justify-content: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    width: 334px;
    height: 596px;
    color: white;
    text-decoration: none;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_content {
    position: relative;
    z-index: 2;
    padding: 48px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card_title {
    font-family: 'Raleway_Bold';
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 1);
}

.card_text {
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.lots_look-more-link {
    padding: 0;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    margin-left: 40px;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}


/* описание */
.description {
    padding: 0px 24px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 430px 1fr;
    align-items: start;
    margin-bottom: 180px;
}

.about_logo {
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 47px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about_logo-image {
    padding: 64px 45.52px 62px 46.48px;
}

.column-text {
    margin-left: -55px;
}

.about_title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
    font-family: 'Raleway_Bold';
    font-weight: 700;
    margin-top: 136px;
}

.about_text {
    font-size: 20px;
    line-height: 1.35;
    font-weight: 400;
    font-family: 'Raleway';
    margin: 0;
}

.about_text p {
    margin-bottom: 25px;
}


/* футер */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer_contacts {
    font-style: normal;
    width: 240px;
    text-align: left;
    margin-right: 50px;
    margin-bottom: 82px;
}

.footer_contacts-list {
    list-style: none;
    padding: 0;
}

.footer_contacts-link {
    color: #000000;
    font-size: 18px;
    line-height: 1.35;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    font-weight: 400;
    font-family: 'Raleway';
}

.footer_contacts-noline {
    text-decoration: none;
}

.footer_menu {
    text-align: center;
}

.footer_menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 400;
    font-family: 'Raleway';
    line-height: 100%;
}

.footer_menu-link {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.footer_menu-item_active .footer_menu-link {
    text-decoration: none;
}

.footer_social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
}

.footer_social-icon {
    width: 48px;
    height: 48px;
}